<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" style=" height:40px">
        <a href="/companydashboard" class="navbar-brand">TestHub</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
                {{!-- ul can have a class mr-auto-->shifts links to the left --}}
                <li class="nav-item">
                    <a href="/companyprofile"  class="nav-link" id="username">{{data.recentTest.userName}}</a>
                </li>
                <li class="nav-item">
                    <a href="#" onclick="signOut()" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container my-container" style="max-width: 90%;">
        <div class="row row-border heading">
            <h2>Dashboard</h2>
        </div>
        <div class="row row-border row-main text-center">
            <div class="col-2 col-border">
                <a href="/createtest"><button class="btn btn-custom">Create New Test</button></a>
            </div>
            <div class="col-2 col-border">
                <a href="/alltests"><button class="btn btn-custom">View All Tests</button></a>
            </div>
        </div>

        <div class="row row-border my-row align-items-center">
            <div class="col col-border">
                <p style="margin-top:10px ;">Recently Created Tests</p>

            </div>
        </div>

        <div class="row row-border recent-tests">
            {{!-- <p>{{data.recentTest.tests.[0].name}}</p> --}}

            <div id="recent-test" class="col col-border">
                {{#each data.recentTest.tests}}

                <div class="row row-border row-recent justify-content-between text-center ">
                    <div class="col-2 col-border">
                        <a href="/viewtest/{{this._id}}">{{this.name}}</a>
                    </div>
                    <div class="col-2 col-border">
                        <a href="/invite/{{this._id}}">
                            Invite
                        </a>
                    </div>

                    <div class="col-2 col-border">
                        <a href="/edittest/{{this._id}}">
                            Edit
                        </a>
                    </div>

                    <div class="col-2 col-border">
                        <a href="#" id="{{this._id}}" onclick="deleteTest(this)">
                            Delete
                        </a>
                    </div>

                    <div class="col-2 col-border">
                        <a href="/viewresults/{{this.name}}/{{this._id}}">
                            View Result
                        </a>
                    </div>

                </div>



                {{/each}}


            </div>
        </div>

    </div>

   <footer class="footer mt-auto py-3    ">
  <div class="container" style="width: 100%;">
    <div class="row text-light text-center footer-row align-items-center" style="height: 70px;">
                <div class="col-4 footer-col ">
                    Social Media and updates
                </div>
                <div class="col-4 footer-col">
                    Copyright @ 2020 Testhub.com
                </div>
                <div class="col-4 footer-col">
                    TestHub
                </div>
            </div>
  </div>
</footer>


    <script>
        function deleteTest(element) {
            var xmlHttpRequest = new XMLHttpRequest()
            xmlHttpRequest.open("DELETE", `/company/test/${element.id}`, true)
            xmlHttpRequest.setRequestHeader("Content-Type", "application/json")
            xmlHttpRequest.setRequestHeader("authorization", getCookie("authorization"));
            xmlHttpRequest.onreadystatechange = function () {
                if (this.readyState === 4) {
                    if (this.status === 200) {
                        location.reload()
                    }
                    else {
                        console.log('error')
                        //document.getElementById("error").innerText = JSON.parse(this.responseText).message
                    }
                }
            }
            xmlHttpRequest.send()
        }

        function signOut() {
            var xmlHttpRequest = new XMLHttpRequest()
            xmlHttpRequest.open("POST", "/company/signout", true)
            xmlHttpRequest.setRequestHeader("Content-Type", "application/json")
            xmlHttpRequest.setRequestHeader("authorization", getCookie("authorization"));
            xmlHttpRequest.onreadystatechange = function () {
                if (this.readyState === 4) {
                    if (this.status === 200) {
                        document.cookie = "authorization=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/"
                        document.cookie = "testName=; expires=Thu, 01 Jan 1970 00:00:00 UTC"
                        window.location = "/"
                    }
                    else {
                        console.log('error')
                        //document.getElementById("error").innerText = JSON.parse(this.responseText).message
                    }
                }
            }
            xmlHttpRequest.send()
        }
    </script>


</body>