<body>
    <div class="container my-container" style="max-width: 90%;">
        <div class="row row-border">
            <div class="col col-border">
                <h1>
                    {{data.testName}} - Results
                </h1>
            </div>
        </div>

        
        <div class="row row-border results">


            <div  class="col col-border">
                {{#each data.responses}} 

                <div class="row row-border row-result  text-center ">
                    <div class="col-2 col-border">
                        {{this.candidateName}}
                    </div>
                    <div class="col-1 col-border"></div>

                    <div class="col-2 col-border">
                      
                            Score:{{this.answer.result}}/{{this.answer.maxMarks}}
                     
                    </div>
                    <div class="col-1 col-border"></div>
                    <div class="col-2 col-border">
                        <a href="/viewdetailedresult/{{this.answer._id}}">
                            View Response
                        </a>
                    </div>

                  
                      </div>
                {{/each}}
            </div>
        </div>
    </div>
</body>