<body>
    <div class="container my-container " style="max-width: 90%;">
        <div class="row row-border ">
            <h1>Detailed Result</h1>
        </div>

        <div class="row row-border black">
            <div class="col col-border">

                {{#each data.answer}}
                {{!-- QUESTION --}}
                <div class="row row-border">
                    Question
                </div>

                <div class="row row-border ">
                    <div class="col-8 col-border">
                        <p>{{this.question}}</p>
                    </div>
                </div>
                {{!-- OPTIONS --}}
                <div class="row row-border">
                    <div class="col-1 col-border">
                        Option 1
                    </div>
                    <div class="col-7 col-border">
                        {{this.option1}}
                    </div>
                </div>

                <div class="row row-border">
                    <div class="col-1 col-border">
                        Option 2
                    </div>
                    <div class="col-7 col-border">
                        {{this.option2}}
                    </div>
                </div>

                <div class="row row-border">
                    <div class="col-1 col-border">
                        Option 3
                    </div>
                    <div class="col-7 col-border">
                        {{this.option3}}
                    </div>
                </div>

                <div class="row row-border">
                    <div class="col-1 col-border">
                        Option 4
                    </div>
                    <div class="col-7 col-border">
                        {{this.option4}}
                    </div>
                </div>
                {{!-- RIGHT ANS --}}
                    <div class="row row-border">
                        {{this.correctoption}}
                    </div>
                {{!-- ANS SELECTED BY USER     --}}
                <div class="row row-border">
                    {{this.userans}}
                </div>
            </div>
        </div>

    </div>
</body>